<div class="row">
    <input type="button" ng-click="reloadAllImages()" value="Reload all images"/>
    <div class="column" style="width:15%;margin-right: 20px">
        <div ng-repeat="facet in facets">
            <label>{{facet.fieldName}}</label>
            <form>
                <select size="{{facet.fieldData.length > 10 ? 10 : facet.fieldData.length + 1}}"
                        style="width: 100%;margin-right: 10px"
                        ng-model="data"
                        ng-options="data.label for data in facet.fieldData"
                        ng-change="selectFacet(data)">
                    <option value=""></option>
                </select>
            </form>
        </div>
    </div>
    <div class="column" style="width:80%">
        <main class="grid">
            <div ng-repeat="image in images">
                <div class="card">
                    <img src="{{image.url}}" alt="Avatar" style="width:100%">
                    <div class="container">
                        <h4><b>{{image.univers}}</b></h4>
                        <p>{{image.marque}}</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>